.resource_card {
  background-color: white;
  height: 25em;
  min-width: 25em;
  padding: 16px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 1.3em;
    height: 2.4em;
  }

  .added_details {
    color: #7a9e9f;
    padding: 0px;
    display: flex;
    justify-content: space-between;

    p {
      padding: 0px;
      margin: 0px;
    }
  }

  .link {
    cursor: pointer;
    margin-right: 8px;
  }
}

.resource_card:hover {
  background-size: 105%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.card_details {
  background-color: white;
  padding: 8px 16px 0 16px;
  margin: 0 -16px 0 -16px;
}
