.resource_card {
  background-color: white;
  height: 25em;
  width: 25em;
  padding: 16px;
  border-radius: 10px;
  // background-image: url('/public/img/semi_circles.png');
  // background-size: cover;

  h2 {
    font-size: 1.3em;
    height: 2.4em;
  }

  .added_details {
    color: #7a9e9f;
  }

  .link {
    cursor: pointer;
  }
}

.resource {
  height: 25em;
  border: none;
  background-color: white;
}

.likes_area {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.likes {
  margin: 10px 10px 0px 0px;
}

.likes p {
  margin: 0px;
}
