.resource_card {
  background-color: white;
  height: 25em;
  width: 25em;
  padding: 16px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 1.3em;
    height: 2.4em;
  }

  .added_details {
    color: #7a9e9f;
    padding: 0px;
    display: flex;
    justify-content: space-between;

    p{
      padding: 0px;
      margin: 0px;
    }
  }

  .link {
    cursor: pointer;
    margin-right: 8px;
  }
}

.resource {
  height: 25em;
  border: none;
  background-color: white;
}

.likes_area {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.likes {
  margin: 10px 10px 0px 0px;
}

.likes p {
  margin: 0px;
}
