#resource_list {
  display: flex;
  gap: 20px;
}

.resource {
  height: 30em;
  border: none;
  background-color: white;
}

.likes_area {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.likes {
  margin: 10px 10px 0px 0px;
}

.likes p {
  margin: 0px;
}
