.avatar {
  position: relative;
  height: 30px;
  width: 44px;
  border-radius: 50%;
  border: 3px solid #fe5f55;
  color: #fe5f55;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  z-index: 256;
}
