#navigation_bar {
  position: sticky;
  top: 0px;
  background-color: #eef5db;

  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  height: 5em;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  h1{
    width: 85vw;
  }

  img {
    padding-right: 15px;
  }

  button{
    width: 9em;
  }
}

#home_name {
  position: sticky;
  top: 0px;

  padding-top: 20px;
  margin-top: 24vh;
}

.site_name{
  width: fit-content;
  font-size: 1.5em;
}

#avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fe5f55;
  color: #fe5f55;
}