#navigation_bar{
    position: sticky;
    top: 0px;
    background-color: #EEF5DB;

    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    height: 5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      flex-basis: 85vw;
      font-size: 1.5em;
    }

    img {
      padding-right : 15px;
    }
}