* {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-top: 8px;
}

body {
  background-color: #f3f4ef;
  color: #4f6367;
  margin: 24px;
}

button {
  margin: 2px 5px;
  background-color: #fe5f55;
  font-size: 1em;
  padding: 6px 25px;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #ed5d53;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.resource_modal {
  list-style-type: none;
  padding-left: 0;
}

.resource_modal li {
  margin: 3px;
}

.resource_modal label {
  padding-right: 5px;
}
