*{
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: #EEF5DB;
  margin: 24px;
}

Button {
  margin: 2px 5px;
}

#create_new_resource_button {
  /* position: absolute;
    right: max(20px, 5vw);
    top : 150px; */
  margin-left: 30px;
}

.resource_modal {
  list-style-type: none;
  padding-left: 0;
}

.resource_modal li {
  margin: 3px;
}

.resource_modal label {
  padding-right: 5px;
}

.tag {
  margin: 5px 2px;
  border-radius: 4px;
  background-color: rgb(178, 175, 235);
  border: 1px solid rgb(54, 49, 12);
}

.selected_tag {
  border: 1px solid black;
}

#resource_list {
  margin: 40px 10px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  row-gap: 20px;
  justify-content: center;
}

.resource {
  box-shadow: -5px 0px 5px rgb(0 0 0 / 0.2);
}

.likes_area {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.likes {
  margin: 10px 10px 0px 0px;
}

.likes p {
  margin: 0px;
}
